/*
Notes: Float and Display
    + two main display types - inline and block
        - display:
            - block - e.g. div,p
            - inline - e.g. span,bold
            - None - no longer visible and does not take space
            - Inline-block - inline with block-level spacing
    + float
        - left,right
        - inherit - take float property of parent element

Flexbox: layout feature alternative( and more advanced) than display & float
    + display: flex;
    + flex-direction: row/column/row-reverse/column-reverse;
    + flex-wrap: wrap/no-wrap;
    + alignment:
        * justify-content: flex-start/flex-end/center;
    + flex-order
    + flex-grow-shrink-basis


*/

*{
    box-sizing: border-box; /*box size includes margin and padding*/
}

html, body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 100%;
    /* border: 1px solid rgb(10, 179, 66); */
}

nav{
    background-color: #c4c4c4;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(10, 179, 66); */
}

header, ul, .nav-options {
    /* border: 1px solid rgb(10, 179, 66); for testing */
    color: black;
    font-family: 'Glegoo',sans-serif;
    margin: 0% 5%;
    padding: 1px;
}

header{
    font-size: 40pt;
    text-align: center;
}

ul{
    list-style-type: none; /*remove default list styles*/
    padding: 2%;

    /* content alginment */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

}
.nav-options {
    text-decoration: none;
    font-size: 20pt;
    margin: 2px 30px;
}

.control-buttons {
    background-color: white;
    margin: 2% 3%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 1px solid rgb(10, 179, 66); */
}

.button{
    margin: 1% 5% 0% 0%;
    background-color: #171718;
    opacity: 73%;
    border-radius: 7px;
    font-family: 'Glegoo',sans-serif;
    color: white;
    font-size: 15pt;
    padding: 5px 20px;
}


.content{
    display: flex;
    /* border: 1px solid rgb(108, 187, 101); */
    margin: 2% 3%;
    justify-content: space-between;
    min-height: 50%;
}

.text-box{
    border-radius: 7px;
    padding: 10px 20px;
    background-color: black;
    opacity: 70%;
    color: yellow;
    font-family: 'Glegoo',sans-serif;
    font-size: 15pt;
    width: 70%;
    min-height: 100%;
}

.stats{
    background-color: #c4c4c4;
    font-family: 'Glegoo',sans-serif;
    font-size: 15pt;
    border-radius: 7px;
    width: 25%;
    /* margin: 0% 5% 0% 5%; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.stats-name{
    padding-left: 10%;
    /* border: 1px solid rgb(108, 187, 101); */
    margin-bottom: 0px;

}

.stats-value{
    color: yellow;
    font-size: 25pt;
    font-weight: bold;
    margin: 0px;
    padding-top: 0px;
    text-align: center;
}

footer{
    background-color: #c4c4c4;
    min-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    
}