*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,#edf5ee,#c6c8f1);
    color: white;
    font-family: "Poppins",sans-serif;
    font-weight: 900;
    /* background-color: rgb(255, 255, 255); */
}
nav{
    background-color: #c4c4c4;
    margin: 0px 0px 0px 0px;
}

header{
    border: 0px solid rgb(110, 182, 134);
    border-radius: 1px;
    padding: 10px;
    margin: 20px 10px 10px 10px;
}
div.content{
    border: 0px solid rgb(108, 187, 101);
    /* border-radius: 5px; */
    padding: 10px;
    margin: 20px 10px 10px 10px;
    /* background-color: #6796df; */
}

header{
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
    color: black;
    color: blueviolet;
}   

div.container{
    height: 500px;
    color:rgb(15, 11, 6);
    font-size: 20px;
    font-weight: bold;
}

div.footer{
    border: 0px solid rgb(202, 125, 125);
    border-radius: 1px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
button{
    color:coral;
    font-size: 20px;
    display: inline-block;
}

.content{
    display: flex;
    flex-direction: row;
}

.stats{
    width: 160px;
    height: 160px;
    position: relative;
    margin-right: 200px;
    /* background-color: blanchedalmond; */
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(44, 89, 173, 0.15),
                -6px -6px 10px -1px rgba(101, 132, 168, 0.7);
    padding: 20px;
}
.inner{
    height:120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(133, 159, 190, 0.7),
                inset -4px -4px 6px -1px rgba(133, 159, 190, 0.7),
                -0.5px -0.5px 0px rgba(166, 178, 194, 0.7),
                0px 12px 10px -10px rgba(160, 170, 197, 0.7);

}
#number{
    font-weight: 600px;
    color: #555;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    /* transform: rotate(-2deg); */
}
svg{
    position: absolute;
    top:0;
    left:0;
}
.stats-outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.speed{
    font-size: x-large;
    font-weight: bolder;
    text-align: left;
    color: black;
    color: blueviolet;
    margin-right: 20px;
}